<h1>マイページ</h1>
<h2>登録情報</h2>
<% if @customer == current_customer %>
  <%= link_to "編集する", customers_infomation_edit_path(@customer) %>
<% end %>
<table>
  <thead>
    <tr>
      <th>氏名</th>
      <th>カナ</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @customer.last_name %> <%= @customer.first_name %></td>
      <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      <td><%= @customer.postal_code %></td>
      <td><%= @customer.address %></td>
      <td><%= @customer.telephone_number %></td>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>

<h2>配送先</h2>
<%= link_to "一覧を見る", addresses_path %>

<h2>注文履歴</h2>
<%= link_to "一覧を見る", orders_path %>